@import './variables';

.comments {
  border-radius: 15px;
  padding: 15px;

  .comment {
    h6 {
      color: $base-color
    }

    p {
      padding: 0;
      margin: 0;
    }

    border-radius: 15px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid $base-color;
  }
}