.post {
  padding: 5px 0;
  margin: 15px 0;

  .card-title {
    border-bottom: 1px solid #391A54;
  }

  .card-body {
    padding: 15px;

    form {
      margin-bottom: 15px;
    }

    button, input[type="submit"] {
      background: #391A54;
      color: white;

      &:hover {
        color: white;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}